*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

p, li{
    font-size: 0.875em;
    line-height: 1.6;
}

.subhead{
    font-size: 80%;
    
}

h1{
    margin-bottom: .2em;
}

#infobox{
    text-align: center;
    width: 250px;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: .2em;
    float: right;
    clear: right;
    font-size: 75%;

}

#container img{
    max-width: 100%;;
}

#container th, #container td{
    vertical-align: top;
    text-align: left;
    padding-top: 2px;
}

a{
    text-decoration: none;
}

a:hover{
    border-bottom: 1px solid blue;
}