*{
    box-sizing: border-box;
    font-family: 'Bungee Hairline', cursive;
    font-size: 40px;
    color: black;
    max-width: 10s00px;
}

.wrapper{
    display: grid;
    max-width: 1000px;
    margin: 0 auto;

    grid-template-columns: repeat(10, 10% [col-start]);
    grid-template-rows: 25% 200px auto;
}

.intro{
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: span 1;

}

.projects{
    grid-column-start: 9;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;

    margin-top: 40%;
    margin-left: 5%;
}

.exercises{
    grid-column-start: 6;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 2;

    margin-left: 5%;
}

h1{
    font-size: 100%;
}

p{
    font-size: 50%;
}

h2{
    font-size: 60%;
    padding: 10px 0px;
}

h3{
    font-size: 35%;
    margin-bottom: 3%;
}

a{
    font-size: 30%;
    text-decoration: none;
}

a:hover{
    color: #7dd9f2;
}

li,ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 70%;
}

li{
    padding-left: 5%
}


.me{
    width:100%;
    height:auto;
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 2;
    grid-row-end: span end;

    z-index: 1;
}

.blue{
    width:40%;
    height:auto;
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 3;
    grid-row-end: span end;

    z-index: 4;
}

.green{
    width:50%;
    height:auto;
    grid-column-start: 8;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;

    z-index: -2;
}

.yellow{
    width:150%;
    height:auto;
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: span 1;

    z-index: -1;
}
.red{
    width:250%;
    height:auto;
    grid-column-start: 7;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;

    z-index: -1;
}

footer{
    grid-column-start: 1;
    grid-column-end: span end;
    grid-row-start: 4;
    grid-row-end: span 1;

    font-size: 45%;
    margin-bottom: 3%;
}

.email{
    font-size: 100%;
}