*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color: black;
    padding: 0px;
    margin: 0px;
    
}

.gridWrapper{
    display: grid;
    width: 100%;
    max-width: 1000px;
    padding: 0 1vw 0 1vw;
    margin: 0 auto;
    
    grid-template-columns: repeat(12,  [col-start]1fr);
    grid-template-rows: repeat(5, auto);

    grid-column-gap: 1vw;
    grid-row-gap: .5vw;    
}

.name{
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end: span 1;
}

.work{
    grid-column-start: 7;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
}

.about{
    grid-column-start: 9;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
}

.resume{
    grid-column-start: 11;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
}

.content{
    grid-column-start: 1;
    grid-column-end: span 12;
    grid-row-start: 2;
    grid-row-end: span 1;
}


